@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 3000px) {
	.viewnow{
		top:45%;
	}
}
@media screen and (max-width: 2870px) {
	.gallery ul li:nth-child(4n) .gallery-block img{
		width:99.75%;
	}
}
@media screen and (max-width: 2600px) {
	.viewnow{
		top:44%;
	}
}
@media screen and (max-width: 2200px) {
	.viewnow{
		top:43%;
	}
}
@media screen and (max-width: 2180px) {
	.gallery ul li:nth-child(4n) .gallery-block img{
		width:99.65%;
	}
}
@media screen and (max-width: 1800px) {
	.viewnow{
		top:42%;
	}
}
@media screen and (max-width: 1500px) {
	.viewnow{
		top:41%;
	}
}
@media screen and (max-width: 1480px) {
	.gallery ul li:nth-child(4n) .gallery-block img{
		width:99.48%;
	}
}
@media screen and (max-width: 1400px) {
	/*body{
		border:1px solid black;
	}*/
	.viewnow{
		top:40%;
	}
}
@media screen and (max-width: 1350px) {
	/*body{
		border:1px solid red;
	}*/
}
@media screen and (max-width: 1300px) {
	/*body{
		border:1px solid yellow;
	}*/
	.viewnow{
		top:39%;
	}
}
@media screen and (max-width: 1250px) {
	/*body{
		border:1px solid blue;
	}*/
	.wrapper{
		width:auto;
		margin:0 2%;
	}
	.recent-news ul li{
		width:31.4%;
	}
	.ftinfo{
		margin:22px 0 0 100px;
	}
}
@media screen and (max-width: 1200px) {
	/*body{
		border:1px solid pink;
	}*/
	.ftinfo{
		margin:22px 0 0 75px;
	}
	.viewnow{
		top:38%;
	}
}
@media screen and (max-width: 1150px) {
	/*body{
		border:1px solid green;
	}*/
	.top-search input[type="text"]{
		width:300px;
	}
	.recent-news ul li{
		width:31.3%;
	}
	.ftinfo li{
		margin:0 20px 0 0;
	}
	.viewnow{
		top:37%;
	}
}
@media screen and (max-width: 1100px) {
	/*body{
		border:1px solid orange;
	}*/
	.top-search input[type="text"]{
		width:250px;
	}
	.recent-news ul li{
		width:31.1%;
	}
	.viewnow{
		top:36%;
	}
	.ftinfo{
		margin:22px 0 0 38px;
	}
}
@media screen and (max-width: 1024px) {
	/*body{
		border:1px solid purple;
	}*/
	.top-search input[type="text"]{
		width:200px;
	}
	.viewnow {
		border: 6px solid #000;
		font-size: 30px;
		line-height: 64px;
		top: 40%;
		width: 170px;
	}
	.recent-news{
		padding:50px 0 60px;
	}
	.recent-news h2{
		font-size:40px;
		line-height:44px;
		padding:0 0 10px;
		margin:0 0 40px;
	}
	.recent-news h2 span{
		font-size:20px;
		line-height:24px;
	}
	.league-scores{
		padding:40px 0 45px;
	}
	.counter{
		font-size:40px;
		line-height:44px;
	}
	.recent-news ul li{
		width:31.3%;
		margin:0 25px 0 0;
	}
	.news-block-top{
		padding:10px;
	}
	.news-block-top h3{
		font-size:16px;
		line-height:20px;
	}
	.news-content{
		padding:20px 10px;
	}
	.news-content p{
		font-size:14px;
		line-height:22px;
	}
	.news-content .more{
		margin:15px 0 0;
	}
	.ftlogo{
		float:none;
		margin:0 auto 18px;
	}
	.ftinfo{
		float:none;
		margin:0;
		text-align:center;
	}
	.ftinfo li{
		float:none;
		display:inline-block;
		vertical-align:top;
	}
	.ftsocial{
		margin:18px 0 0;
		text-align:center;
		float:none;
	}
	.ftsocial li{
		float:none;
		display:inline-block;
		margin:0 12px 0 0;
	}
	.footer{
		padding:20px 0 15px;
	}
	.copyright{
		padding:15px 0;
	}
}
@media screen and (max-width: 1000px) {
	/*body{
		border:1px solid grey;
	}*/
	.recent-news ul li{
		width:31.2%;
	}
	.viewnow{
		top:39%;
	}
}
@media screen and (max-width: 950px) {
	/*body{
		border:1px solid brown;
	}*/
	.recent-news ul li{
		width:31.1%;
	}
	.top-search input[type="text"]{
		width:160px;
	}
}
@media screen and (max-width: 900px) {
	/*body{
		border:1px solid black;
	}*/
	.signin{
		margin:0 0 0 10px;
	}
	.signin li{
		margin:0 8px 0 0;
	}
	.add-event{
		margin:0 0 0 10px;
		padding:0 11px;
	}
	.gallery ul li:nth-child(4n) .gallery-block img{
		width:99.1%;
	}
	.viewnow{
		top:38%;
	}
	.recent-news ul li{
		width:30.9%;
	}
}
@media screen and (max-width: 850px) {
	/*body{
		border:1px solid red;
	}*/
	.recent-news ul li{
		width:30.8%;
	}
	.logo{
		float:none;
		margin:0 auto;
	}
	.top-right{
		text-align:center;
		float:none;
		overflow:hidden;
		padding:18px 0 0;
	}
	.top-search, .signin, .add-event{
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media screen and (max-width: 800px) {
	/*body{
		border:1px solid yellow;
	}*/
	.recent-news ul li{
		width:30.7%;
	}
}
@media screen and (max-width: 767px) {
	/*body{
		border:1px solid blue;
	}*/
	.gallery ul li{
		width:50%;
	}
	.gallery ul li .gallery-block img{
		width:100% !important;
	}
	.gallery ul li:nth-child(2n) .gallery-block img{
		width:99.5% !important;
	}
	.gallery ul li:nth-child(1), .gallery ul li:nth-child(2), .gallery ul li:nth-child(3), .gallery ul li:nth-child(4){
		border-top:2px solid #cccccc;
	}
	.gallery ul li:nth-child(2n) .gallery-block{
		border-right:none;
	}
	.viewnow{
		top:46%;
	}
	.counter-block{
		width:48%;
		margin:0 0 20px;
	}
	.league-scores{
		padding:35px 0 15px;
	}
	.recent-news h2 {
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 30px;
		padding: 0 0 8px;
	}
	.recent-news h2 span{
		font-size:18px;
	}
	.recent-news{
		padding:40px 0 50px;
	}
	.recent-news ul li{
		width:auto;
		margin:0 0 40px;
		float:none;
	}
	.ftinfo li{
		display:block;
		margin:0 0 5px;
	}
	.ftinfo li p{
		display:inline-block;
	}
}
@media screen and (max-width: 700px) {
	/*body{
		border:1px solid pink;
	}*/
}
@media screen and (max-width: 650px) {
	/*body{
		border:1px solid green;
	}*/
}
@media screen and (max-width: 600px) {
	/*body{
		border:1px solid orange;
	}*/
	.viewnow{
		top:45%;
	}
	.top-search{
		display:block;
		margin:0 auto 2px;
		overflow:hidden;
		width:209px;
	}
	.signin{
		display:block;
		overflow:hidden;
		text-align:center;
	}
	.signin li{
		float:none;
		display:inline-block;
	}
	.top-right{
		padding:15px 0 0;
	}
}
@media screen and (max-width: 550px) {
	/*body{
		border:1px solid purple;
	}*/
	.viewnow{
		top:44%;
	}
}
@media screen and (max-width: 480px) {
	/*body{
		border:1px solid grey;
	}*/
	.recent-news ul li{
		width:96%;
		margin:0 auto 35px;
	}
	.recent-news ul li:last-child{
		margin:0 auto;
	}
	.gallery ul li:nth-child(2n) .gallery-block img{
		width:99.3% !important;
	}
	.viewnow {
		border: 4px solid #000;
		font-size: 24px;
		line-height: 50px;
		top: 45%;
		width: 130px;
	}
}
@media screen and (max-width: 450px) {
	/*body{
		border:1px solid brown;
	}*/
	.gallery ul li:nth-child(2n) .gallery-block img{
		width:99.2% !important;
	}
	figure.effect-ming figcaption::before{
		top:15px;
		bottom:15px;
		left:15px;
		right:15px;
	}
	.counter-block{
		width:auto;
		display:block;
	}
}
@media screen and (max-width: 400px) {
	/*body{
		border:1px solid black;
	}*/
	.viewnow{
		top:44%;
	}
	.recent-news h2{
		font-size:26px;
		line-height:30px;
	}
	.recent-news h2 span{
		font-size:16px;
		line-height:20px;
	}
	figure.effect-ming figcaption::before{
		top:10px;
		bottom:10px;
		left:10px;
		right:10px;
	}
	.gallery ul li:nth-child(2n) .gallery-block img{
		width:98.93% !important;
	}
}
@media screen and (max-width: 350px) {
	/*body{
		border:1px solid red;
	}*/
	.viewnow{
		top:43%;
	}
	.gallery ul li:nth-child(2n) .gallery-block img{
		width:98.88% !important;
	}
}
@media screen and (max-width: 300px) {
	/*body{
		border:1px solid yellow;
	}*/
}


