@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	color:#767676;
}
img{
	display:block;
	border:none;
	outline:none;
}
ul{
	list-style:none;
}
input:focus, textarea:focus{
	outline:none;
}
input[type=text], input[type=submit]{
	-webkit-appearance:none;
	border-radius:0;
}
input[type=submit]{
	-webkit-appearance:none;
}
a{
	color:#000;
}
a, a:hover{
	text-decoration:none;
	outline:none;
}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
}
.wrapper{
	width:1170px;
	margin:0 auto;
}

/*header section start*/
.header{
	padding:18px 0;
	overflow:hidden;
	background-color:#047fe8;
}
.logo{
	float:left;
}
.top-right{
	float:right;
	padding:13px 0;
}
.top-search{
	float:left;
}
.top-search input[type=text]{
	width:362px;
	float:left;
	border-bottom:1px solid #FFF;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:none;
	height:36px;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#FFF;
	padding:0 0 0 10px;
	background-color:transparent;
}
.top-search input[type=submit]{
	height:38px;
	border:none;
	width:37px;
	text-indent:-200000px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background:url(../images/top_search_icon.png) no-repeat 9px center #FFF;
	display:block;
	cursor:pointer;
	float:left;
}
.top-search input[type=submit]:hover{
	background:url(../images/top_search_icon_h.png) no-repeat 9px center #FFF;
}
.signin{
	margin:0 0 0 20px;
	padding:0;
	overflow:hidden;
	float:left;
}
.signin li{
	float:left;
	font-size:14px;
	line-height:38px;
	margin:0 10px 0 0;
	color:#FFF;
}
.signin li:last-child{
	margin:0;
}
.signin li a{
	color:#FFF;
	text-transform:uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.signin li a:hover{
	color:#000;
}
.add-event{
	padding:0 13px;
	line-height:38px;
	display:inline-block;
	float:left;
	margin:0 0 0 20px;
	font-size:14px;
	text-transform:uppercase;
	color:#FFF;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background:url(../images/top_event_ar.png) no-repeat right 0 #e30906;
}
.add-event:hover{
	background:url(../images/top_event_ar.png) no-repeat right 0 #000;
}
/*header section end*/

/*gallery section start*/
.gallery{
	position:relative;
	border-bottom:3px solid #e30805;
}
.gallery ul{
	overflow:hidden;
	padding:0;
	margin:0;
	border-bottom:2px solid #FFF;
}
.gallery ul li{
	float:left;
	width:25%;
	border-top:2px solid #cccccc;
}
.gallery ul li:nth-child(1), .gallery ul li:nth-child(2), .gallery ul li:nth-child(3), .gallery ul li:nth-child(4){
	border-top:none;
}
.gallery-block{
	position:relative;
	overflow:hidden;
	border-right:2px solid #cccccc;
}
.gallery ul li:nth-child(4n) .gallery-block{
	border-right:none;
}
.gallery-block img{
	width:100%;
}
.gallery ul li:nth-child(4n) .gallery-block img{
	width:99.8%;
}
figure.effect-ming{
	background:#030c17;
   /* cursor: pointer;*/
    position: relative;
    text-align: center;
}
figure.effect-ming img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.effect-ming figcaption::before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
	z-index:1;
}
figure.effect-ming:hover figcaption::before{
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	z-index:1;
}
figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}
.gallery-shadow{
	position:absolute;
	display:block;
	left:0;
	right:0;
	top:0;
	width:100%;
	height:2px;
	background:url(../images/top_shadow.png) repeat-x 0 0;
	z-index:1;
}
.viewnow{
	position:absolute;
	top:40%;
	left:0;
	right:0;
	width:185px;
	margin:0 auto;
	text-transform:uppercase;
	font-family: 'Anton', sans-serif;
	line-height:87px;
	font-size:39px;
	color:#FFF;
	background-color:#e30905;
	border:8px solid #000;
	text-align:center;
	z-index:100;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.viewnow:hover{
	background-color:#000;
}
/*gallery section end*/

/*league section start*/
.league-scores{
	padding:45px 0 56px;
	overflow:hidden;
	position:relative;
	background:url(../images/league_bg.jpg) repeat 0 0;
	border-top:1px solid #FFF;
}
.league-shadow-top, .league-shadow-bot{
	height:2px;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	display:block;
}
.league-shadow-top{
	background:url(../images/league_shadow_top.png) repeat-x 0 0;
	top:0;
}
.league-shadow-bot{
	background:url(../images/league_shadow_bot.png) repeat-x 0 0;
	bottom:0;
}
.league-scores .wrapper{
	position:relative;
}
.counter-block{
	display: inline-block;
	width:24%;
	text-align:center;
}
.end { 
	margin-right: 0 !important; 
}
.number-count .wrapper{
	position: relative
}
.counter{
	font-size: 50px;
	color:#FFF; 
	font-weight: 700;  
	text-align: center; 
	display:inline-block;
	line-height:55px;
}
.count-text { 
	font-size: 16px;
	text-align: center; 
	color:#FFF;
	line-height:22px;
	margin:6px 0 0;
	padding:14px 0 0;
	background:url(../images/counter_line.png) no-repeat center 0;
	text-transform:uppercase;
}
.league-icon{
	margin:0 auto 19px;
}
/*league section end*/

/*news section start*/
.recent-news{
	padding:90px 0 100px;
	overflow:hidden;
	text-align:center;
}
.recent-news h2{
	color:#047fe8;
	font-size:50px;
	line-height:54px;
	text-transform:uppercase;
	display:inline-block;
	padding:0 0 14px;
	background:url(../images/news_head_line.png) no-repeat center bottom;
	margin:0 0 50px;
}
.recent-news h2 span{
	display:block;
	font-size:25px;
	color:#4a4a4a;
	line-height:38px;
}
.recent-news ul{
	margin:0;
	padding:0;
}
.recent-news ul li{
	float:left;
	width:369px;
	margin:0 28px 0 0;
	border:1px solid #e5e5e5;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
}
.recent-news ul li:nth-child(3n){
	margin:0;
}
.news-block-top{
	padding:15px 20px;
	overflow:hidden;
}
.news-date{
	margin:0 19px 0 0;
	float:left;
	padding:5px 0 0;
}
.news-date p{
	color:#047fe8;
	font-size:16px;
	text-transform:uppercase;
	line-height:20px;
}
.news-date p span{
	font-size:30px;
	font-weight:700;
	display:block;
}
.news-block-top h3{
	font-size:20px;
	line-height:23px;
	color:#4a4a4a;
	text-transform:uppercase;
	overflow:hidden;
	text-align:left;
}
.news-pic{
	overflow:hidden;
}
.news-pic img{
	width:100%;
}
.news-content{
	padding:23px 20px;
	overflow:hidden;
	border-bottom:2px solid #047fe8;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-content p{
	line-height:25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-content .more{
	color:#e30805;
	text-transform:uppercase;
	font-size:14px;
	line-height:20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display:block;
	margin:17px 0 0;
}
.recent-news ul li:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}
.recent-news ul li:hover .news-content{
	background-color:#047fe8;
}
.recent-news ul li:hover .news-content p{
	color:#FFF;
}
.recent-news ul li:hover .more{
	color:#FFF;
}
/*news section end*/

/*footer section start*/
.footer{
	border-top:3px solid #e30905;
	padding:30px 0;
	background-color:#3e3e3e;
	overflow:hidden;
}
.ftlogo{
	float:left;
}
.ftinfo{
	float:left;
	margin:22px 0 0 106px;
	padding:0;
}
.ftinfo li{
	float:left;
	margin:0 47px 0 0;
}
.ftinfo li:last-child{
	margin:0;
}
.ftinfo li p{
	font-size:12px;
	color:#b0b0b0;
	line-height:20px;
}
.ftinfo li.addrs p{
	padding:0 0 0 15px;
	background:url(../images/ft_icon1.png) no-repeat 0 5px;
}
.ftinfo li.mail p{
	padding:0 0 0 20px;
	background:url(../images/ft_icon2.png) no-repeat 0 5px;
}
.ftinfo li.call p{
	padding:0 0 0 17px;
	background:url(../images/ft_icon3.png) no-repeat 0 5px;
}
.ftsocial{
	float:right;
	margin:22px 0 0;
	padding:0;
}
.ftsocial li{
	float:left;
	margin:0 20px 0 0;
}
.ftsocial li:last-child{
	margin:0;
}
.ftsocial li a{
	width:20px;
	height:20px;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ftsocial li a.fb{
	background:url(../images/ft_social1.png) no-repeat 0 0;
}
.ftsocial li a.fb:hover{
	background:url(../images/ft_social1_h.png) no-repeat 0 0;
}
.ftsocial li a.twit{
	background:url(../images/ft_social2.png) no-repeat 0 0;
}
.ftsocial li a.twit:hover{
	background:url(../images/ft_social2_h.png) no-repeat 0 0;
}
.ftsocial li a.in{
	background:url(../images/ft_social3.png) no-repeat 0 0;
}
.ftsocial li a.in:hover{
	background:url(../images/ft_social3_h.png) no-repeat 0 0;
}
.ftsocial li a.google{
	background:url(../images/ft_social4.png) no-repeat 0 0;
}
.ftsocial li a.google:hover{
	background:url(../images/ft_social4_h.png) no-repeat 0 0;
}
.copyright{
	padding:17px 0;
	overflow:hidden;
	background-color:#141414;
}
.copyright p{
	text-align:center;
	font-size:12px;
	line-height:18px;
	color:#b0b0b0;
}
/*footer section end*/

/* light box section */

.form-single-row{
	margin-bottom:20px;
}

.form-single-row label{
	margin:0 0 5px 0;
	display:block;
}

.sign-up-in{
	border-bottom: 1px solid #ccc;
    height: 47px;
    margin: 16px 0 30px;
} 

.sign-up-in li{
	display: inline-block;
    min-width: 103px;
    position: relative;
}

.sign-up-in li a{
	color: #000;
    font-size: 20px;
    font-weight: 500;
}

.sign-up-in li.active a{
	color:#0074e4;
	
}

.sign-up-in li.active a span{
	border-bottom:3px solid #0074e4;
	
}

.sign-up-in li span{
	display: block;
    height: 34px;
    min-width:67px;
    position: absolute;
}

.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"]{
	width:518px;
	height:20px;
	border:1px solid #cccccc;
	color:#888888;
	font-size:16px;
	font-weight: 500;
    line-height: 20px;
	padding:10px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
box-shadow:0 2px 3px 0 #e6e5e5 inset;
font-family: 'Montserrat', sans-serif;
}



.sign-up-in-tabcont input[type="submit"]{
	 background: #0074e4 none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 158px;
	transition-duration:0.3s;
	font-family: 'Montserrat', sans-serif;
}

.sign-up-in-tabcont input[type="submit"]:hover{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #0074e4;
	transition-duration:0.3s;
}

.fancybox-lock .fancybox-overlay {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}

.fancybox-close {
    background-image: url("../images/cross_ico.png") !important;
    height: 15px !important;
    transition-duration: 0.3s;
    width: 15px !important;
	 right: 7px !important;
    top: 7px !important;
}

.fancybox-close:hover{
    background-image: url("../images/cross_ico-hov.png") !important;
	transition-duration: 0.3s;
}

.fancybox-wrap {
    width: 601px !important;
}

.pop_content {
    background: #fff none repeat scroll 0 0;
    
}

.fancybox-skin{
-webkit-border-radius: 0 0 0 0  !important;
border-radius: 0 0 0 0  !important;
padding: 30px !important; 
}

.fancybox-inner {
    width: 100% !important;
}

.popup_team{
	width:100%;
}

.popup_team-img{
	margin:0 auto;
}

.two-col{
	width:178px;
	float:left;
	
}

.two-col li{
	margin: 0 0 8px;
}

.popup_team h3 {
    color: #313131;
    font-size: 28px;
    line-height: 34px;
    margin:20px 0 10px;
	font-weight: 300;
}

.popup_team p.info {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
	margin: 0 0 12px;
}

.popup_team p {
    color: #505050;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.popup_team p.description{
	margin:23px 0 0 0;
}

.popup_team p a {
    color: #0074e4;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

.popup_team p a:hover {
    color: #313131;
}


.signin-form h3{
	color:#000;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
	border-bottom: 1px solid #cccccc;
	padding:0 0 23px 0;
	margin:0 0 36px 0;
}

.form-single-row{
	margin-bottom:20px;
}

.form-single-row label{
	margin:0 0 5px 0;
	display:block;
}

.sign-up-in{
	border-bottom: 1px solid #ccc;
    height: 47px;
    margin: 16px 0 30px;
} 

.sign-up-in li{
	display: inline-block;
    min-width: 103px;
    position: relative;
}

.sign-up-in li a{
	color: #000;
    font-size: 20px;
    font-weight: 500;
}

.sign-up-in li.active a{
	color:#0074e4;
	
}

.sign-up-in li.active a span{
	border-bottom:3px solid #0074e4;
	
}

.sign-up-in li span{
	display: block;
    height: 34px;
    min-width:67px;
    position: absolute;
}

.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"]{
	width:518px;
	height:20px;
	border:1px solid #cccccc;
	color:#888888;
	font-size:16px;
	font-weight: 500;
    line-height: 20px;
	padding:10px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
box-shadow:0 2px 3px 0 #e6e5e5 inset;
font-family: 'Montserrat', sans-serif;
}



.sign-up-in-tabcont input[type="submit"]{
	 background: #0074e4 none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 158px;
	transition-duration:0.3s;
	font-family: 'Montserrat', sans-serif;
}

.sign-up-in-tabcont input[type="submit"]:hover{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #0074e4;
	transition-duration:0.3s;
	
}

p.forget-password a{
	color: #888888;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
}

p.forget-password a:hover{
	text-decoration:underline;
	}
	

#sign-up .sign-up-in-tabcont input[type="text"], #sign-up .sign-up-in-tabcont input[type="email"], #sign-up .sign-up-in-tabcont input[type="password"]{
	width:501px;
	height:20px;
	border:1px solid #cccccc;
	color:#888888;
	font-size:16px;
	font-weight: 500;
    line-height: 20px;
	padding:10px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
box-shadow:0 2px 3px 0 #e6e5e5 inset;
font-family: 'Montserrat', sans-serif;

}


#sign-up .sign-up-in-tabcont textarea{
	width:501px;
	height:101px;
	border:1px solid #cccccc;
	color:#888888;
	font-size:16px;
	font-weight: 500;
    line-height: 20px;
	padding:10px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
box-shadow:0 2px 3px 0 #e6e5e5 inset;
font-family: 'Montserrat', sans-serif;
}


.sign-forn-lt{
	float:left;
	width:105px;
	height:95px;
	border:1px solid #cccccc;
	padding:5px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
	box-shadow:0 2px 3px 0 #e6e5e5 inset;
}

.sign-forn-rt{
	width:388px;
	float:right;
}
#sign-up  .sign-up-in-tabcont .sign-forn-rt input[type="text"]{

    width:365px;
	}
	
	label.myCheckbox {
    display: block;
    margin-top: 6px;
    width: auto;
	overflow:hidden;
}

label.myCheckbox input {
    display: none;
}

label.myCheckbox span {
    background: rgba(0, 0, 0, 0) url("../images/check-box.png") no-repeat scroll left 3px;
    color: #888888;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: 23px;
    line-height: 23px;
    margin-bottom: 7px;
    padding-left: 29px;	
}

label.myCheckbox span strong{
	color:#0074e4;
}
label.myCheckbox input:checked + span {
    background: rgba(0, 0, 0, 0) url("../images/check-box-tick.png") no-repeat scroll left 3px;
}
.sign-up-form .label_radio {
    background: rgba(0, 0, 0, 0) url("../images/fancy_radio.png") no-repeat scroll left 4px;
    color: #888888;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 22px 8px 0;
    padding: 0 0 0 19px;
    width: auto;
}

.sign-up-form .label_radio input[type="radio"] {
    float: left;
    margin: 2px 6px 0 0;
}
.sign-up-form .label_radio input {
    left: -9999px;
    position: absolute;
}

.sign-up-form label.r_on {
    background: rgba(0, 0, 0, 0) url("../images/fancy_radio_focus.png") no-repeat scroll left 4px;
}

.or-option{
	 color: #444;
    float: left;
    font-size: 16px;
    line-height: 20px;
    margin: 0 20px 0 0;
}

.event-form-area  h3 {
    border-bottom: 1px solid #cccccc;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin: 0 0 36px;
    padding: 0 0 23px;
}

.event-form textarea {
    border: 1px solid #cccccc;
    box-shadow: 0 2px 3px 0 #e6e5e5 inset;
    color: #888888;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 101px;
    line-height: 20px;
    padding: 10px;
    width: 497px;

}


.event-lt{
	float:left;
	width:250px;
}

.event-rt{
	float:right;
	width:257px;
}



.event-select {
    background: #fff url("../images/dropdown-arrow.png") no-repeat scroll 96% 50%;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 3px 0 #e6e5e5 inset;
    display: inline-block;
    float: left;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
    width: 239px;
}

.event-select select {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #888888;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    margin: 0;
    padding: 0 0 0 5px;
    width: 110%;
}


.event-form label.r_on {
    background: rgba(0, 0, 0, 0) url("../images/fancy_radio_focus.png") no-repeat scroll left 4px;
}
.event-form .label_radio {
    background: rgba(0, 0, 0, 0) url("../images/fancy_radio.png") no-repeat scroll left 4px;
    float: left;
    color: #888888;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 22px 8px 0;
    padding: 0 0 0 19px;
    width: auto;
}


.event-form .label_radio input[type="radio"] {
    float: left;
    margin: 2px 6px 0 0;
}
.event-form .label_radio input {
    left: -9999px;
    position: absolute;
}


.main-label{
color: #888888;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
	display:block;
	margin:10px 0 16px;
}



.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"]{
	width:229px;
	height:20px;
	border:1px solid #cccccc;
	color:#888888;
	font-size:16px;
	font-weight: 500;
    line-height: 20px;
	padding:10px;
	-webkit-box-shadow:0 2px 3px 0 #e6e5e5 inset;
box-shadow:0 2px 3px 0 #e6e5e5 inset;
font-family: 'Montserrat', sans-serif;

}

.event-form input[type="text"].date-pic{
	background:#fff url("../images/calander-ico.png") no-repeat scroll 96% 13px !important;
}

.event-form input[type="text"].time-pic{
	background:#fff url("../images/time-ico.png") no-repeat scroll 96% 13px !important;
}


.event-form input[type="submit"]{
	 background: #0074e4 none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 158px;
	transition-duration:0.3s;
	font-family: 'Montserrat', sans-serif;
}

.event-form input[type="submit"]:hover{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #0074e4;
    color: #0074e4;
	transition-duration:0.3s;
	
}

.left-label {
    color: #888888;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
	float:left;
	margin:0 10px 0 0;
}

.two-col-devide .label_radio {
    margin: 0 22px 30px 0 !important;
}

.map-pop{
	display:none;
}

.map-pop-icon {
    height: 10px;
    left: 390px;
    position: absolute;
    top: 331px;
    width: 10px;
    z-index: 10000
}

.team-list-scroll{
	height:535px;
	overflow:scroll;
}
	
