@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 2000px) {

	.team-list-scroll {
    height: 770px;
	}

}

@media screen and (max-width: 2000px) {

/*body{
		border:1px solid red;
	}*/
	
	

	
	
}

@media screen and (max-width: 1822px) {

/*body{
		border:1px solid gray;
	}*/
	
	.wrapper {
    width: 1800px;
	}
	
	.map-pop {
    left: 270px;
    top: 220px;
	}
	
	
}


@media screen and (max-width: 1800px) {

/*body{
		border:1px solid black;
	}*/
	
	.wrapper {
    margin: 0 2%;
	width: auto;
	}
	
	.map-area img{
		width:100%;
	}
	
	.ltCol {
    width: 1230px;
	}
	
	.rtCol {
    padding: 25px 0 0 23px;
	}
	
	.top-rt-header {
    margin: 0;
	}
	
	
	.map-pop-icon {
    left: 358px;
    top: 302px;
	}
	
	.team-list-scroll {
    height: 672px;
	}
	
	
}
@media screen and (max-width: 1750px) {


/*body{
		border:1px solid yellow;
	}*/
	
	.ltCol {
    width: 1050px;
	}
	
	.rtCol {
    width: 430px;
	}
	
}
@media screen and (max-width: 1600px) {

/*body{
		border:1px solid magenta;
	}*/
	
	.ltCol {
    width: 71%;
	}
	
	
	.rtCol {
    width: 390px;
	}
	
	.team-two-block li {
    margin: 0 20px 0 0;
    width: 180px;
	}
	
	.team-two-block li img{
		width:100%;
	}
	
	.rtCol h2 {
    font-size: 30px;
	}
	
	.team-list .team-lt {
    width: 191px;
	}
	
	.team-list .team-rt {
    width: 166px;
	}
	
	.team-lt img{
		width:100%;
	}
	
	
	
	
	.map-pop {
    left: 220px;
    top: 182px;
	}
	
	.map-pop-icon {
    left: 313px;
    top: 264px;
	}
	
	.team-list-scroll {
    height: 536px;
	}
}

@media screen and (max-width: 1550px) {

/*body{
		border:1px solid cyan;
	}*/

	
	.ltCol {
    width: 70%;
	}
	
	.map-pop {
    left: 200px;
    top: 170px;
}

.map-pop-icon {
    left: 245px;
    top: 229px;
	width:70px;
	height:30px;
	}


.team-list-scroll {
    height: 462px;
}	
	
}


@media screen and (max-width: 1500px) {

/*body{
		border:1px solid green;
	}*/
	

	
	
	.rtCol {
    width: 380px;
	}
	
	
	.team-list .team-lt {
    width: 175px;
	}
	
	.map-pop {
    left: 200px;
    top: 160px;
	}
	
	.team-list-scroll {
    height: 432px;
	}
	
}




@media screen and (max-width: 1450px) {

/*body{
		border:1px solid red;
	}*/
	
	.ltCol {
    width: 69%;
}

.map-pop {
    left: 180px;
    top: 150px;
}

.team-list-scroll {
    height: 392px;
}
	
	}
@media screen and (max-width: 1400px) {
	/*body{
		border:1px solid black;
	}*/
	
	.ltCol {
    width: 72%;
}
	
	
	.rtCol {
    width: 330px;
	}
	
	.rtCol h2 {
    font-size: 26px;
	}
	
	.team-two-block li {
    width: 150px;
	}
	
	
	.team-list .team-lt {
    width: 150px;
	margin: 0 7px 0 0;
	}
	
	
	.team-list .team-rt {
    width: 154px;
	}
	
}

@media screen and (max-width: 1350px) {
	/*body{
		border:1px solid yellow;
	}*/
	
	
	.ltCol {
    width: 71%;
}

.map-pop {
    left: 180px;
    top: 140px;
}

.team-list-scroll {
    height: 349px;
}
}

@media screen and (max-width: 1300px) {
	/*body{
		border:1px solid red;
	}*/
	
	.ltCol {
    width: 72%;
	}
	
	.rtCol {
    width: 300px;
	}
	
	.team-two-block li {
    width: 140px;
	margin: 0 10px 0 0;
	}
	
	.rtCol h2 {
    font-size: 23px;
	}
	
	.team-list .team-lt {
    width: 130px;
	}
	
	.team-two-block li h4 {
    font-size: 17px;
	}
	
	.map-pop {
    left: 160px;
    top: 133px;
	}
	
	.map-pop-icon {
    left: 245px;
    top: 229px;
	width:70px;
	height:30px;
	}
	
	.team-list-scroll {
    height: 323px;
	}
	
	.team-list .team-lt {
    width: 120px;
	}
	
}


@media screen and (max-width: 1250px) {
	/*body{
		border:1px solid green;
	}*/
	
	.ltCol {
    width: 71%;
}

.map-pop {
    left: 150px;
    top: 123px;
}

.team-list-scroll {
    height: 283px;
}
	
	}

@media screen and (max-width: 1200px) {
	/*body{
		border:1px solid yellow;
	}*/
	
	.ltCol {
    width: 70%;
	}
	
.player-select select {
    width: 110%;
	}
	
	.map-pop {
    left: 140px;
    top: 113px;
	}
	
	.team-list-scroll {
    height: 243px;
	}
	
	
}
@media screen and (max-width: 1150px) {
	/*body{
		border:1px solid blue;
	}*/
	
	#search input[type="text"] {
    width: 320px;
	}
	
	.ltCol {
    width: 68%;
	}
	
	.map-pop {
    left: 110px;
    top: 100px;
	}
	
.team-list-scroll {
    height: 204px;
}
	
}
@media screen and (max-width: 1100px) {
	/*body{
		border:1px solid pink;
	}
	*/
	#search input[type="text"] {
    width: 270px;
	}
	
	
	.ltCol {
    width: 66%;
	}
	
	.map-pop {
    left: 110px;
    top: 80px;
	}
	
	.team-list-scroll {
    height: 144px;
	}
}
@media screen and (max-width: 1024px) {
	/*body{
		border:1px solid green;
	}*/
	
	.ltCol {
    width: inherit;
	float:none;
	}
	
	.rtCol {
    float: none;
    margin: 0 auto;
    padding: 25px 0;
    width: 433px;
	}
	
	
	
	#search {
    margin: 35px 20px 0;
	}
	
	.sign-up-area {
    margin: 20px 20px 0 0;
	}
	
	.team-two-block li {
    margin: 0 30px 0 0;
    width: 199px;
	}
	
	.team-list .team-lt {
    width: 199px;
	margin: 0 15px 0 0;
	}
	
	.team-list .team-rt {
    width: 200px;
	}
	
	.sign-up-area a {
    font-size: 13px;
	}
	
	.add-event {
    font-size: 12px;
    width: 120px;
}

	.team-list-scroll {
    	height:auto;
		overflow:inherit;
	}
	
}
@media screen and (max-width: 1000px) {
	/*body{
		border:1px solid orange;
	}*/
	
	.logo {
    width: 219px;
	}
	
	#search input[type="text"] {
    width: 240px;
	}
	
}
@media screen and (max-width: 950px) {
	/*body{
		border:1px solid purple;
	}*/
	
	.logo {
    width: 210px;
	}
	
	
	#search input[type="text"] {
    width: 220px;
	}
	
	
}
@media screen and (max-width: 900px) {
	/*body{
		border:1px solid grey;
	}*/
	
	.logo {
    width: 200px;
	}
	
	.logo img {
    margin: 0 2%;
    width: 96%;
	}
	
	#search {
    margin: 35px 10px 0;
	}
	
	.sign-up-area a {
    margin: 0 5px;
	}
	
	.sign-up-area {
    margin: 20px 10px 0 0;
	}
	
}
@media screen and (max-width: 850px) {
	/*body{
		border:1px solid brown;
	}*/
	
#search input[type="text"] {
    width: 180px;
}

#search {
    margin: 32px 10px 0;
}
	
}
@media screen and (max-width: 800px) {
	/*body{
		border:1px solid black;
	}*/
	
	.logo {
    width: 190px;
	}
	
	#search input[type="text"] {
    width: 170px;
	}
	
}
@media screen and (max-width: 767px) {
	/*body{
		border:1px solid red;
	}*/
	
	#search {
    float: right;
    margin: 5px 0 0 5px;
	}
	
	#search input[type="text"] {
    width: 410px;
	}
	
	
	.top-rt-header {
	overflow:hidden;
	padding:5px 0;
	}
	
	.sign-up-area {
    margin: 13px 10px 0 0;
	}
	
	.rtCol h2 {
    font-size: 22px;
	}
	
	.signin-form h3 {
    font-size: 25px;
	}
	
	.sign-up-in li a {
    font-size: 18px;
    line-height: 35px;
	}
	
	.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    font-size: 15px;
	}
	
	.sign-up-in-tabcont textarea {
    font-size: 15px;
	}
	
	.sign-up-in-tabcont input[type="submit"] {
    font-size: 16px;
    line-height: 43px;
	}
	
	.popup_team h3 {
    font-size: 26px;
	}
	
	.add-event {
    padding: 9px 0;
	}
	
}
@media screen and (max-width: 700px) {
	/*body{
		border:1px solid yellow;
	}*/


#search input[type="text"] {
    width: 363px;
}
	
}
@media screen and (max-width: 650px) {
	/*body{
		border:1px solid blue;
	}*/
	
	#search input[type="text"] {
    width: 315px;
}

.fancybox-wrap {
    width: 550px !important;
}
	
.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    width: 467px;
	font-size: 14px;
	}
	
#sign-up .sign-up-in-tabcont input[type="text"], #sign-up .sign-up-in-tabcont input[type="email"], #sign-up .sign-up-in-tabcont input[type="password"] {
    width: 448px;
	font-size: 14px;
}

#sign-up .sign-up-in-tabcont textarea{
    width: 448px;
	font-size: 14px;
}

.sign-forn-rt {
    width: 340px;
	font-size: 14px;
}

#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 316px;
	font-size: 14px;
}

.player-select{
	width: 326px;
}

.player-select select{
	font-size: 14px;
}
	
	
.event-lt, .event-rt {
    width: 226px;
}



.event-select {
    width: 211px;
	}
	
.event-select select{
	font-size: 14px;
}


.event-form textarea {
    width: 448px;
	font-size: 14px;
}

.event-select select {
    width: 111%;
	}
	
.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 201px;
	font-size: 14px;
	}
	
.main-label {
    font-size: 14px;
    margin: 10px 0 14px;
	}
	
.event-form .label_radio {
    font-size: 14px;
	}
	
}
@media screen and (max-width: 600px) {
	/*body{
		border:1px solid pink;
	}*/
	
	#search input[type="text"] {
    width: 275px;
	}
	
	.logo {
	width: 180px;
    padding: 20px 0;
	}
	
	.sign-forn-lt {
    float: none;
    margin: 0 auto 10px;
	}
	
	.sign-forn-rt {
    float: none;
    width: inherit;
	}
	
	.sign-up-form{
	
	}
	
	.fancybox-wrap {
    width: 500px !important;
	}
	
	
	
	.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    width: 417px;
	}
	
	#sign-up .sign-up-in-tabcont input[type="text"], #sign-up .sign-up-in-tabcont input[type="email"], #sign-up .sign-up-in-tabcont input[type="password"] {
    width: 398px;
	}
	
	#sign-up .sign-up-in-tabcont textarea {
    
    width: 398px;
	}
	
	.sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 398px;
	}


#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"]{
    width:398px;
}	
	
.player-select {
    width: 408px;
}

#sign-up label.myCheckbox {
    height: 60px;
	}
	
	
.popup_team-img {
    width: 98%;
}


.event-form textarea {
    width: 398px;
}

.event-lt, .event-rt {
    width: 203px;
}

.event-select {
    width: 188px;
}

.event-select select {
    width: 113%;
}


.event-form input.date-pic[type="text"] , .event-form input.time-pic[type="text"] {
	background-position:99% 13px !important;
    font-size: 13px;
    width: 178px;
}

.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 179px;
}

.left-label {
    font-size: 14px;
	}
	
}
@media screen and (max-width: 550px) {
	/*body{
		border:1px solid green;
	}*/
	
	.logo {
    width: 160px;
	padding: 23px 0;
	}
	
	#search input[type="text"] {
    width: 230px;
	}
	
	.team-two-block{
		 text-align: center;
	}
	
	
	.team-two-block li {
	float:none;
	display:inline-block;
	margin: 0 15px 30px;
	}
	
	.fancybox-wrap {
    width: 470px !important;
	}
	
	.fancybox-wrap {
    width: 430px !important;
	}
	
	.popup_team img{
		width:100%;
	}
	
	.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    width: 348px;
	}

	
	.sign-up-form .sign-forn-rt input[type="text"] {
		width: 328px;
	}
	
	
	.sign-up-form input[type="text"], .sign-up-form input[type="email"], .sign-up-form input[type="password"] {
    width: 328px;
	}
	
	#sign-up .sign-up-form input[type="text"], #sign-up .sign-up-form input[type="email"], #sign-up .sign-up-form input[type="password"] {
    width: 328px;
	}
	
	#sign-up .sign-up-in-tabcont textarea{
    
    width: 328px;
	}
	
	#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 328px;
	}
		
	
	.player-select {
		width: 338px;
	}
	
	
	
	
	.event-form textarea {
    width: 328px;
}

.event-lt, .event-rt {
    float: none;
    overflow: hidden;
    width: inherit;
}

.event-select {
    width: 337px;
}

.event-select select {
    width: 113%;
}

.event-form input.date-pic[type="text"], .event-form input.time-pic[type="text"] {
    width: 327px;
}

.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 327px;
}

.left-label {
    display: block;
    float: none;
    font-size: 14px;
    margin-right: 0;
	}
	
.event-form input[type="submit"] {
    font-size: 16px;
    line-height: 43px;
}	
	
	
}
@media screen and (max-width: 480px) {
	/*body{
		border:1px solid orange;
	}*/
	
	#search input[type="text"] {
    width: 200px;
}

.add-event {
    width: 110px;
}

.sign-up-area {
    margin: 7px 5px 0 0;
}

.sign-up-area a {
    font-size: 11px;
}

.rtCol {
    width: 413px;
	}
	
	.fancybox-wrap {
    width: 390px !important;
	}
	.signin-form h3 {
    font-size: 19px;
	}
	
	.sign-up-in-tabcont input[type="submit"]{
		width:130px;
		font-size:14px;
	}
	
	.sign-up-in li a {
    font-size: 15px;
    line-height: 33px;
	}
	

.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    width: 307px;
	    font-size: 14px;
}

#sign-up .sign-up-form input[type="text"], #sign-up .sign-up-form input[type="email"], #sign-up .sign-up-form input[type="password"] {
    width: 290px;
	 font-size: 14px;
}

#sign-up .sign-up-in-tabcont textarea {
    width: 290px;
	    font-size: 14px ;
}

#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 290px;
}

.player-select{
	width: 300px;
}





.player-select select {
    
    font-size: 14px;
	}

p.forget-password a {
    font-size: 13px;
	}
	
label.myCheckbox span {
    font-size: 13px;
	}
	
.popup_team h3 {
    font-size: 23px;
}

.team-list .team-lt {
    margin: 0 20px 0 0;
	 width: 150px;
}
	


.rtCol h2 {
    font-size: 20px;
}

.result-sec {
    font-size: 14px;
}

.drop-sports {
    font-size: 14px;
	}
	
	
.filter-area .label{
	font-size: 14px;
}

.fancybox-close {
    background-size: 100% 100%;
    height: 10px !important;
    width: 10px !important;
	}


.team-two-block li {
   display: inline-block;
    float: none;
    margin: 0 0 30px;
	width: inherit;
	text-align: left;
}

.team-two-block li img {
   float: left;
    margin: 0 20px 0 0;
    width: 150px;
}




.event-form textarea {
    width: 288px;

}

.event-select {
    width: 298px
}

.event-select select {
    width: 110%;
}

.event-form input.date-pic[type="text"], .event-form input.time-pic[type="text"] {
    width: 287px;
}

.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 287px
}

.left-label {
    font-size: 13px;
	}
	
.event-form input[type="submit"] {
    font-size: 14px;
    width: 130px;
}

.sign-up-form .label_radio {
    font-size: 13px;
	}
	
.sign-up-form .label_radio{
	display:block;
	float:none;
}
	
}
@media screen and (max-width: 450px) {
	/*body{
		border:1px solid purple;
	}*/
	
	.rtCol {
    width: 100%;
	}
	
	.logo {
    width: 129px;
}
	
	.sign-up-area a {
    font-size: 11px;
	}
	
	.add-event {
    padding: 5px 0;
	font-size: 11px;
    width: 97px;
	}
	
	
#search input[type="text"] {
    width: 182px;
}
	
	.fancybox-wrap {
    width: 350px !important;
	}
	
	.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {

    width: 246px;
	}
	
	.sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 246px;
	}
	
	
	
	#sign-up .sign-up-form input[type="text"], #sign-up .sign-up-form input[type="email"], #sign-up .sign-up-form input[type="password"] {
    width: 246px;
	 font-size: 14px;
}

#sign-up .sign-up-in-tabcont textarea {
    width: 246px;
	    font-size: 14px ;
}

#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 246px;
}

	
	
	.player-select {
    width: 256px;
	}

	
	.team-list .team-rt {
    width: 195px;
	}
	
	.event-form textarea {
    width: 248px;
	font-size:13px;
	}
	
	
.event-select {
    width: 258px;
}


.event-select select{
   font-size:13px;
}

.event-form input.date-pic[type="text"], .event-form input.time-pic[type="text"] {
    width: 247px;
}


.main-label {
    font-size: 13px;
	}
	
	
.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 247px;
}

.event-form .label_radio {
    font-size: 13px;
}
	
}
@media screen and (max-width: 400px) {
	/*body{
		border:1px solid grey;
	}
	*/
	
	
	.logo {
    display: block;
    float: none;
    margin: 0 auto;
    width: 160px;
	}
	
	#search {
    float: none;
    margin: 10px 0 0;
	}
	
	
	
	
#search input[type="text"] {
    width: 260px;
}


.top-rt-header {
    float: none;
    text-align: center;
	}

	
	.add-event {
    display: block;
    float: none;
    margin: 5px auto 0;
    width: 120px;
	padding: 9px 0;
	}
	
.sign-up-area {
    float: none;
    margin: 10px 5px 0 0;
    text-align: center;
}


.fancybox-wrap {
    width: 300px !important;
}


.signin-form h3 {
    font-size: 16px;
}

.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {
    width: 216px;
	font-size:13px;
}

.sign-up-in-tabcont input[type="submit"] {
    height: 34px;
	line-height: 23px;
	}
	
.sign-up-in-tabcont input[type="submit"] {
    font-size: 13px;
	}
	
	
.sign-up-form input[type="text"], .sign-up-form input[type="email"], .sign-up-form input[type="password"] {
    width: 200px;
	font-size:13px;
	}
	
	.sign-up-in-tabcont textarea {
    font-size:13px;
    width: 200px;
	}
	
	
	.sign-up-form .sign-forn-rt input[type="text"] {
    font-size:13px;
    width: 200px;
	}
	
	
	
	
	#sign-up .sign-up-form input[type="text"], #sign-up .sign-up-form input[type="email"], #sign-up .sign-up-form input[type="password"] {
    width: 200px;
	 font-size:13px;
}

#sign-up .sign-up-in-tabcont textarea {
    width: 200px;
	    font-size:13px;
}

#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 200px;
}

		
	
	.player-select {
		width: 210px;
		font-size:13px;
	}
	
	.player-select select {
    width: 112%;
	}
	
	.team-list .team-lt {
    margin: 0 auto 20px;
    width: 100%;
	float:none;
	}
	
	.team-list .team-rt {
    width: inherit;
	}
	
	.team-two-block li img {
    float: none;
    margin: 0 auto 20px 0;
    width: 100%;
	}
	
	.event-form textarea {
    width: 198px;
	}
	
	.event-select {
    width: 208px;
	}
	
	.event-select select {
    width: 112%;
	}
	
	.event-form input.date-pic[type="text"], .event-form input.time-pic[type="text"] {
    width: 197px;
	}
	
	.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 197px;
}
	
}
@media screen and (max-width: 350px) {
	/*body{
		border:1px solid brown;
	}*/
	

	
	
#search input[type="text"] {
    width: 210px;
}

.add-event {
    display: block;
    float: none;
    font-size: 12px;
    margin: 0 auto;
    width: 120px;
}

.sign-up-area {
    margin: 6px 5px 0 0;
	}


.fancybox-wrap {
    width: 240px !important;
}

.popup_team h3 {
    font-size: 20px;
}

.signin-form h3 {
    font-size: 16px;
    line-height: 22px;
	}
	
.sign-up-in li a {
    font-size: 14px;
    line-height: 33px;
}

.sign-up-in-tabcont input[type="text"], .sign-up-in-tabcont input[type="email"], .sign-up-in-tabcont input[type="password"] {

    width: 156px;
}


.sign-up-form .sign-forn-rt input[type="text"] {
    width: 156px;
}


	#sign-up .sign-up-form input[type="text"], #sign-up .sign-up-form input[type="email"], #sign-up .sign-up-form input[type="password"] {
    width: 138px;
	 font-size:13px;
}

#sign-up .sign-up-in-tabcont textarea {
    width: 138px;
	    font-size:13px;
}

#sign-up .sign-up-in-tabcont .sign-forn-rt input[type="text"] {
    width: 138px;
}



.player-select {
    width: 148px;
}

.player-select select {
    width: 116%;
}
	

.sign-up-in-tabcont textarea {
    width: 156px;
}

.sign-up-in li {
    min-width: 88px;
	}
	
#sign-up label.myCheckbox {
    height: 90px;
	}
	
.event-form textarea {
    width: 138px;
}

.event-select {
    width: 148px;
}

.event-select select {
    width: 115%;
}

.event-form input.date-pic[type="text"], .event-form input.time-pic[type="text"] {
    width: 137px;
	font-size:12px;
}

.event-form input[type="text"], .event-form input[type="email"], .event-form input[type="password"] {
    width: 138px;
}

.event-form input[type="submit"] {
    font-size: 13px;
}
	
	
}
@media screen and (max-width: 300px) {
	/*body{
		border:1px solid black;
	}*/
}

