
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Match Mapper | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for( 'static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for( 'static', filename = 'css/icons.min.css'    ) }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for( 'static', filename = 'css/theme-blue.css'   ) }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for( 'static', filename = 'css/custom.css'       ) }}" rel="stylesheet" type="text/css" media="all" />
	
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

	<script src="https://code.jquery.com/jquery-1.9.0.js"></script>

{% block head_js %}
{% endblock %}

</head>

<body>
   {% block js %}
   {% endblock %}
   {% block body_block %}
   {% endblock %}
	<footer>
	</footer>
</body>
</html>
