<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title>Matchmapper</title>

<!--font section start-->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Anton' rel='stylesheet' type='text/css'>
<!--font section end-->

<!--css section start-->
<link rel="stylesheet" type="text/css" href="css/landing.css" />
<link rel="stylesheet" type="text/css" href="css/landing-media.css" />
<!--css section end-->

<!--script section start-->
<script src="js/jquery-1.8.3.min.js"></script>
<script type='text/javascript' src='js/landing-custom.js'></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script> 
<script src="js/jquery.counterup.min.js"></script> 
<!--............for light box..............-->
<script type="text/javascript" src="js/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css?v=2.1.5" media="screen" />
<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
		
		
		$('.fancybox').fancybox();
		$('.fancybox1').fancybox();
    });
</script>
<!--script section end-->
</head>

<body>

	<!--header section start-->
    <div class="header">
    	<div class="wrapper">
        	<a href="index.html"><img src="images/logo.png" alt="Matchmapper" title="Matchmapper" class="logo" /></a>
            <div class="top-right">
            	<div class="top-search">
                	<form method="post">
                    	<input type="text" />
                        <input type="submit" />
                    </form>
                </div>
                <ul class="signin">
                	<li><a class="fancybox" href="#sign-in">Sign In</a></li>
                    <li>or</li>
                    <li><a class="fancybox" href="#sign-up">Sign Up</a></li>
                </ul>
                <a href="#create-event" class="add-event fancybox1">Add an Event</a>
            </div>
        </div>
    </div>
    <!--header section end-->
    
    <!--gallery section start-->
    <div class="gallery">
    	<span class="gallery-shadow"></span>
    	<ul>
        	<li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic1.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic2.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic3.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic4.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic5.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic6.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic7.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
            <li>
            	<div class="gallery-block">
                	<figure class="effect-ming">
                    	<img src="images/gallery_pic8.jpg" alt="" title="" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </li>
        </ul>
        <a href="#" class="viewnow">View Now</a>
    </div>
    <!--gallery section end-->
    
    <!--league section start-->
    <div class="league-scores">
    	<span class="league-shadow-top"></span>
        <span class="league-shadow-bot"></span>
        <div class="wrapper">
        	<div>
            	<div class="counter-block"> 
                	<img src="images/league_icon1.jpg" alt="" title="" class="league-icon" />
            		<span class="counter">258</span>
                    <p class="count-text">League Matches</p>
                </div> 
                <div class="counter-block"> 
                	<img src="images/league_icon2.jpg" alt="" title="" class="league-icon" />
            		<span class="counter">567</span>
                    <p class="count-text">League Players</p>
                </div> 
                <div class="counter-block"> 
                	<img src="images/league_icon3.jpg" alt="" title="" class="league-icon" />
            		<span class="counter">212</span>
                    <p class="count-text">League goals</p>
                </div> 
                <div class="counter-block">
                	<img src="images/league_icon4.jpg" alt="" title="" class="league-icon" /> 
            		<span class="counter">35</span>
                    <p class="count-text">League Awards</p>
                </div> 
            </div>
        </div>
    </div>
    <!--league section end-->
    
    <!--news section start-->
    <div class="recent-news">
    	<div class="wrapper">
        	<h2><span>Lorem ipsum</span>Recent News</h2>
            <ul>
            	<li>
                	<div class="news-block-top">
                    	<div class="news-date">
                        	<p><span>07</span>Dec</p>
                        </div>
                        <h3>Morbi vulputate at odio commodo...</h3>
                    </div>
                    <div class="news-pic">
                    	<img src="images/news_pic.jpg" alt="" title="" />
                    </div>
                    <div class="news-content">
                    	<p>Proin bibendum viverra orci, eget pharetra mi tincidunt nec. Nunc vulputate in neque a efficitur. Pellentesque ultricies lorem ut vestibulum iaculis Integer semper .</p>
                        <a href="#" class="more">Read more [ + ]</a>
                    </div>
                </li>
                <li>
                	<div class="news-block-top">
                    	<div class="news-date">
                        	<p><span>07</span>Dec</p>
                        </div>
                        <h3>Morbi vulputate at odio commodo...</h3>
                    </div>
                    <div class="news-pic">
                    	<img src="images/news_pic.jpg" alt="" title="" />
                    </div>
                    <div class="news-content">
                    	<p>Proin bibendum viverra orci, eget pharetra mi tincidunt nec. Nunc vulputate in neque a efficitur. Pellentesque ultricies lorem ut vestibulum iaculis Integer semper .</p>
                        <a href="#" class="more">Read more [ + ]</a>
                    </div>
                </li>
                <li>
                	<div class="news-block-top">
                    	<div class="news-date">
                        	<p><span>07</span>Dec</p>
                        </div>
                        <h3>Morbi vulputate at odio commodo...</h3>
                    </div>
                    <div class="news-pic">
                    	<img src="images/news_pic.jpg" alt="" title="" />
                    </div>
                    <div class="news-content">
                    	<p>Proin bibendum viverra orci, eget pharetra mi tincidunt nec. Nunc vulputate in neque a efficitur. Pellentesque ultricies lorem ut vestibulum iaculis Integer semper .</p>
                        <a href="#" class="more">Read more [ + ]</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--news section end-->
    
    <!--footer section start-->
    <div class="footer">
    	<div class="wrapper">
        	<a href="index.html"><img src="images/ftlogo.png" alt="Matchmapper" title="Matchmapper" class="ftlogo" /></a>
            <ul class="ftinfo">
            	<li class="addrs">
                	<p>123, ABC Road, City, Province 123, S7H 1Z8</p>
                </li>
                <li class="mail">
                	<p>info matchmapper.com</p>
                </li>
                <li class="call">
                	<p>123-456-7890</p>
                </li>
            </ul>
            <ul class="ftsocial">
            	<li><a href="#" class="fb" target="_blank"></a></li>
                <li><a href="#" class="twit" target="_blank"></a></li>
                <li><a href="#" class="in" target="_blank"></a></li>
                <li><a href="#" class="google" target="_blank"></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
    	<div class="wrapper">
        	<p>© Copyright 2015 matchmapper. All rights reserved</p>
        </div>
    </div>
    <!--footer section end-->
    <div id="sign-in" style="display: none;">
    <div class="signin-form">
        <h3>Welcome to Matchmapper</h3>
        
            <div class="sign-up-in-tabcont" style="display:block;">
                <form>
                    <div class="form-single-row"><label>Enter Email</label><input name="Enter Email" type="email" value="" id="email" /></div>
                    <div class="form-single-row"><label>Enter Password</label><input name="Enter password" type="password" value="" id="password" /></div>
                    <div class="form-single-row"><input type="submit" value="Login" /></div>
                    <div class="form-single-row"><p class="forget-password"><a href="#">Forgot Password?</a></p></div>
                </form>
            <div class="clear"></div>
            </div>
    </div>
</div>

<div id="sign-up" style="display: none;">
									<div class="signin-form">
										<h3>Welcome to Matchmapper</h3>
										
											
											
											<div class="sign-up-in-tabcont sign-up-form">
													<form>
													<div class="form-single-row"><label>First Name</label><input name="First Name" type="text" value="" id="first_name" /></div>
													<div class="form-single-row"><label>Last Name</label><input name="Last Name" type="text" value="" id="last_name" /></div>
													<div class="form-single-row"><label>Enter Email</label><input name="Enter Email" type="email" value="" id="mail" /></div>
													<div class="form-single-row"><label>Create Password</label><input name="Create Password" type="password" value="" id="password" /></div>
													<div class="form-single-row"><label>Phone</label><input name="Phone" type="text" value="" id="phone" /></div>
													<div class="form-single-row"><label>Address</label><textarea name="Address" value="" id="address"></textarea></div>
													<div class="form-single-row">
													

 															<div class="form-single-row">
																<label class="main-label">Check on best contact</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio1" value="1" type="radio" /><span>Phone</span>
																</label>
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio1" value="1" type="radio" /><span>Email</span>
																</label>
																<div class="clear"></div>	
															</div>


													
													</div>
													
													<div class="form-single-row"><input type="submit" value="Sign Up" /></div>
	
													</form>
											<div class="clear"></div>
											</div>
									</div>
								</div>
                                
 <div id="create-event" style="display: none;">
									<div class="event-form-area">
										<h3>Create an Event</h3>
										
											<div class="event-form" style="display:block;">
												<form>
													
													<div class="form-single-row"><textarea name="Quick description of the game or sport" value="Quick description of the game or sport" id="quick_description">Quick description of the game or sport</textarea></div>
													
														<div class="event-lt" >
															<div class="form-single-row event-select">
															<select name="">
																<option>Sport</option>
																<option>Select </option>
															</select>
															</div>
														</div>
														<div class="event-rt">
															<div class="form-single-row event-select">
															<select name="">
																<option>Level</option>
																<option>Select </option>
															</select>
															</div>
														</div>
														<div class="clear"></div>
													
													<div class="form-single-row"><textarea name="Address of the game" value="Address of the game" id="address-game">Address of the game</textarea></div>
													
														<div class="event-lt" >
															<div class="form-single-row">
																<input class="date-pic" name="Date you are looking for" value="Date you are looking for" id="date-looking-for" type="text" />
															</div>	
														</div>
														
														<div class="event-rt" >
															<div class="form-single-row">
																<input class="time-pic" name=" How long is this good for" value=" How long is this good for" id="how-long-good" type="text" />
															</div>
														
															
														</div>
														<div class="clear"></div>
													
													<div class="two-col-devide">
														<div class="event-lt" >
															<div class="form-single-row">
																<label class="main-label">Will you host the game</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio1" value="1" type="radio" /><span>Yes</span>
																</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio1" value="1" type="radio" /><span>No</span>
																</label>
																	
															</div>	
														</div>
														
														<div class="event-rt" >
															
														
															<div class="form-single-row">
																<label class="main-label">Will you travel to a game</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio2" value="1" type="radio" /><span>Yes</span>
																</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio2" value="1" type="radio" /><span>No</span>
																</label>	
															</div>
															
															
														</div>
														<div class="clear"></div>
													</div>
													
													
													<div class="two-col-devide">
														<div class="event-lt" >
															<div class="form-single-row">
																<input name="Fees" value="Fees" id="fees" type="text" />	
															</div>	
														</div>
														
														<div class="event-rt" >
															<div class="form-single-row">
																<input name="Restrictions" value="Restrictions" id="restrictions" type="text" />
															</div>
															
														</div>
														<div class="clear"></div>
													</div>
													
													<div class="form-single-row"><textarea name="Anything they want to add" value="Anything they want to add" id="anything-want">Address of the game</textarea></div>
													
													
													<div class="form-single-row">
														<label class="left-label">Do you want text messages from opponents?:</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio4" value="1" type="radio" /><span>Yes</span>
																</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio4" value="1" type="radio" /><span>No</span>
																</label>
																<div class="clear"></div>
													</div>
													
													<div class="form-single-row">
														<label class="left-label">Do you want opponents to call you? :</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio5" value="1" type="radio" /><span>Yes</span>
																</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio5" value="1" type="radio" /><span>No</span>
																</label>
																<div class="clear"></div>
													</div>
													
													<div class="form-single-row">
														<label class="left-label">Do you want opponents to call you? :</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio6" value="1" type="radio" /><span>Yes</span>
																</label>
																
																<label class="label_radio" for="sample-radio">
																	<input name="sample-radio1" id="sample-radio6" value="1" type="radio" /><span>No</span>
																</label>
																<div class="clear"></div>
													</div>
													
													<div class="form-single-row"><input type="submit" value="ADD EVENT" /></div>
												</form>
											<div class="clear"></div>
											</div>
									</div>
								</div>

</body>
</html>
