{% extends 'base.html' %} 
{% from "_formhelpers.html" import render_field %}

{% block head_js %}

<style type="text/css">
#map {
    float: right;
    height: 600px;
    text-align: center;
    width: 875px;
}
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDhe5s69KRDPnAqGUWxDxXILvjP3c1BvCA&sensor=true"></script>
<script type="text/javascript" src="{{ url_for( 'static', filename='js/gmaps.js') }}"></script>


<script type="text/javascript">
function showLatLong(position)
{
	
	var point = new google.maps.LatLng( position.coords.latitude,
                                        position.coords.longitude
                                       );

	var mp = document.getElementById( "map" )
    var map = new google.maps.Map( mp, { zoom: 10,
                                         center: point,
                                         mapTypeId: google.maps.MapTypeId.ROADMAP
                                        } );
	
    var image = "{{ url_for('static', filename= 'img/football.png')}}";
	var marker = new google.maps.Marker({ position: point,
										  map: map,
										  icon: image,
										  title:"football here"
                                        });
}


{% endblock %}

{% block js %}
<script type="text/javascript">

function checkbox(element){
	var name = element.name;
	var checked = element.checked;
	var data = {'name':name,'checked':checked};
	
	$.ajax({
        url: '{{url_for("user.sports")}}',
        type: 'POST',
        data: data,
        success: function(data) {
        	window.location.reload(true);
        }    
    });
 };


function mark_info(e){
	$.ajax({
        type: "GET",
        url: '{{url_for("event.show")}}',
        data: {'id':e.details},
        success: function(html) {
        	e.infoWindow.setContent(html);
        }    
    });
};


function set_fields(pos){
	var longitude = pos.coords.longitude;
	var latitude  = pos.coords.latitude;
	$('#longitude').val(longitude);
	$('#latitude').val(latitude);
	var gm = new GMaps({ div: '#map', 
	                     lat:latitude, 
	                     lng:longitude,
	                   });
	gm.map.zoomControlOptions.position = 9;
	gm.map.zoom = 11
	{% for match in matches %}
	
	gm.addMarker({ lat: {{match.latitude}}, lng: {{match.longitude}}, 
		           details:"{{match.detail}}", 
		           title:"{{match.title}}", 
		           icon:"{{url_for('static',filename='img/{}.png'.format(match.sport))}}",
		           click: mark_info,
		           infoWindow: { content: '' }
		         });
	
	{% endfor %}
};


$(document).ready(function() {
	{%if center %}
		var pos = {'coords':{}};
		pos.coords = {
			longitude:{{center.longitude}},
			latitude:{{center.latitude}}
		};
		
		set_fields( pos );
	
	{% else %}
		if (navigator.geolocation) {
	   		navigator.geolocation.getCurrentPosition( set_fields );
		}
	{% endif %}

	
	 $("#sign-in").click(function() {
		  $.fancybox({ afterClose:function(){
			  window.location.reload(true);} 
		  });
	 });
	
	$('.fancybox').fancybox({ afterClose:function(){
		  						window.location.reload(true); } 
	});
});


</script>
{% endblock %} 

{% block body_block %}
<body>
	<!--header section start-->

	<div class="header">
		<div class="wrapper">

			<p class="logo">
				<a href="index.html"><img
					src="{{url_for('static',filename='img/logo.png')}}"
					alt="MatchMapper" title="MatchMapper" /></a>
			</p>
			
			<div id="search">
				<form action="{{url_for('event.search')}}" method='post'>
					<input name="search_text" type="text" />
					<input name="" type="submit" />
				</form>
			</div>
		
			{% if current_user.is_active %}
			<div class="sign-up-area">
			<a  id="sign-out" href="{{url_for('user.signout')}}">Sign Out</a>
			<a  id="settings" href="{{url_for('user.settings')}}">Settings</a>
			
			</div>
			<div class="top-rt-header">
				<a class="add-event fancybox fancybox.iframe" href="{{url_for('event.add')}}">Add an Event</a>
				{% else %}
				<div class="sign-up-area">
					<a class="fancybox fancybox.iframe"  id="sign-in" href="{{url_for('user.signin')}}">Sign In</a>		
					<span>or</span> 
					<a class="fancybox fancybox.iframe"  id="sign-up" href="{{url_for('user.signup')}}">Sign up</a>
				</div>
				{% endif %}
			
			</div>
	
			<div class="clear"></div>
			<div class="header-outer"></div>
		</div>

	</div>
	<!--header section end-->

	<!--Body sectin start-->

	<div>
		<div class="wrapper">
			<!--Left sectin start-->
			<div class="ltCol">

				<div class="map-area">
					<div class="filter-area">

						<p class="label">Filter :</p>
						<div class="sports-filter-area">
							<a class="drop-sports" href="#"><span>Sports</span></a>
							<div class="drop-sports-check" style="display: none;">
								<ul>
									{% for key, value in sports.items() %}
									<li class="drop-down-txt">
										<label class="myCheckbox">
											<input type="checkbox" name="{{key}}" onclick=checkbox(this)
											{% if value %}
											checked
											{% endif %}
											> 
											<span>{{ key.capitalize() }}</span>
										</label>
									</li>
									{% endfor %}

								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					
					<!-- This is where the actual map is -->
					<div>
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="rtCol">
			
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- right_300x250 -->
				<ins class="adsbygoogle"
     			 	 style="display:inline-block;width:300px;height:250px"
     			 	 data-ad-client="ca-pub-0499148704255370"
     			 	 data-ad-test="on"
     			 	 data-ad-slot="7213011594">
     			</ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			
			<div class="team-list-scroll">
				<ul class="team-list">
				{% for match in matches %}
					<li>
						<div class="team-rt">
							<h4>{{match.title}}</h4>
							<p>{{match.sport}} {{match.when}}</p>
					</li>
			   {% endfor %}
			   </ul>
			</div>
			
			<div class="clear"></div>
			<!--Left sectin end-->
		</div>
	</div>

	<!--Body sectin end-->
	<!--Footer section start-->


	<!--Footer section end-->
</body>
{% endblock %}
